h1 
    {
        margin: 0;
        padding: 0;
        color:rgb(0, 0, 0);
        font-family: 'Times New Roman', Times, serif;
    }

.banner{ 
    width: 100%;
    height: 100vh;
    background-image:linear-
    gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    text-decoration: none;
        font-family:'Times New Roman', Times, serif;
        font-size: 14pt;
        color:rgb(9, 7, 7);
        padding: 55px;
        font-weight: bolder;
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.logo{ 
    width: 180px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0c0b0b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 900px;
    margin-top: 10px;
}
.content .textBox h2{
    color: #575555;
    font-size: 4em;
    line-height: 1.4em;
    font-weight:  500;
    margin-left: 80px;
    margin-top: 10px;
}
.content .textBox h2 span{
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 10px;
}
.content .textBox p{
        text-align: justify;
    color: #575555;
    margin-left: 80px;
    margin-top: 30px;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #2e2929;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 80px;
}
.content .imgBox{
    width: 200%;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    margin-top: 20px;
}
.content .imgBox img{
    max-width: 300px;
} 
.thumb{
    position: absolute;
    left: 45%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    cursor: pointer;
    transition: 1.0s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 100px ;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: #575555;
    clip-path: circle(500px at right 830px);
}

footer {
    text-align: center;
  }
  